
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Check your answers
		</h1>

		{{ govukSummaryList({
			classes: 'govuk-!-margin-bottom-2',
			rows: [
			{
				key:
				{
					text: "Standard"
				},
				value:
				{
					text: "Butcher, Level: 3"
				}
			},
			{
				key:
				{
					text: "Training location"
				},
				value:
				{
					html: "<p>Day release<br>Block release</p>"
				},
				actions:
				{
					items: [
					{
						href: "#",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Start date"
				},
				value:
				{
					text: "January 2021"
				},
				actions:
				{
					items: [
					{
						href: "#",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Cost"
				},
				value:
				{
					text: "£4,500"
				},
				actions:
				{
					items: [
					{
						href: "#",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Total apprentices required"
				},
				value:
				{
					text: "18"
				},
				actions:
				{
					items: [
					{
						href: "#",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			}
			]
		}) }}

		<form method="post">
			<p>
				{{govukButton({
					text: "Submit"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
