
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukInput({
				label:
				{
					text: "How many apprentices will be doing this training?",
					classes: "govuk-label--xl",
					isPageHeading: true
				},
				classes: "govuk-input--width-4",
				hint:
				{
					text: ""
				},
				id: "apprentices",
				name: "request[apprentices]",
				inputmode: "numeric",
				pattern: "[0-9]*",
				spellcheck: false
			}) }}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
