
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% set employeesString %}
			{% if data['request']['apprentices'] > 1 %}
			existing employees
			{% else %}
			an existing employee
			{% endif %}
			{% endset %}
			{{ govukRadios({
				idPrefix: "recruitment-required",
				name: "request[recruitment-required]",
				fieldset: 
				{
					legend: 
					{
						text: "Do you need to recruit for this apprenticeship?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--xl"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
