
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = 'Employer request' %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag:
	{
		text: "experimental"
	},
	html: 'This service is being used for research only.'
}) }}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Cohort details
		</h1>

		{% include './includes/_cohort-details.html' %}

		{{ govukTable({
			caption: "Employers in this cohort",
			captionClasses: "govuk-heading-l",
			classes: "govuk-margin-bottom-6",
			firstCellIsHeader: false,
			head: [
			{
				text: "Employer"
			},
			{
				text: "Location"
			},
			{
				text: "Apprentices"
			},
			{
				text: "Recruitment"
			}
			],
			rows: [
			[
			{
				text: "Employer 1"
			},
			{
				text: "Leamington Spa"
			},
			{
				text: "3"
			},
			{
				text: "No"
			}
			],
			[
			{
				text: "Employer 2"
			},
			{
				text: "Coventry"
			},
			{
				text: "1"
			},
			{
				text: "No"
			}
			],
			[
			{
				text: "Employer 3"
			},
			{
				text: "Coventry"
			},
			{
				text: "2"
			},
			{
				text: "Yes"
			}
			]
			]
		}) }}

		<p>
			If you're interested in providing this training, you can make a training proposal which will be sent to these employers.
		</p>

		{{govukButton({
			text: "Propose training",
			href: "cohort-requirements"
		})}}
	</div>
</div>
{% endblock %}
