<div class="govuk-grid-column-one-quarter">
    <p class="govuk-body view-shortlist view-shortlist-2 ">
        <a class="govuk-link govuk-link--no-visited-state" href="shortlist">View shortlist <span class="shortlist-total shortlist-count">{{myData.totalFavourites}}</span></a>
    </p>
</div>

<div class="view-shortlist-fixed view-shortlist-fixed-2 view-shortlist--hidden" >
    <p class="govuk-body back-to-top-fixed-label " >
        <a class="govuk-link govuk-link--no-visited-state" href="#">
            <svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Back to top
        </a>
    </p>
    <p class="govuk-body view-shortlist-fixed-label " >
        <a class="govuk-link govuk-link--no-visited-state" href="shortlist">View shortlist <span class="shortlist-total shortlist-count">{{myData.totalFavourites}}</span></a>
    </p>
</div>