
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Tell us about your apprenticeship plans
		</h1>

		<p class="govuk-body-l">
			We need to know about the apprenticeship you're planning to run.
		</p>

		<p>
			We'll use the details you share with us to find a provider who can deliver training for your organisation.
		</p>

		<p>
			{{govukButton({
				text: "Continue",
				href: "standard-flexibility"
			})}}
		</p>
	</div>
</div>
{% endblock %}
