
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% set otherHtml %}
			{{ govukTextarea({
				name: "withdrawal-request[reason][other]",
				id: "comment",
				rows: "8",
				label:
				{
					text: "Enter the reason",
					classes: "govuk-label--s",
					isPageHeading: true
				},
				hint:
				{
					text: ""
				}
			}) }}
			{% endset %}

			{% call govukFieldset({
				legend:
				{
					text: "Why was the training provider not able to meet your training needs?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl"
				}
			}) %}

			{{ govukRadios({
				idPrefix: "reason",
				name: "withdrawal-request[reason]",
				items: [
				{
					value: "Reason",
					text: "Reason"
				},
				{
					value: "Reason",
					text: "Reason"
				},
				{
					value: "Reason",
					text: "Reason"
				},
				{
					value: "Reason",
					text: "Reason"
				},
				{
					value: "other",
					text: "Other",
					conditional:
					{
						html: otherHtml
					}
				}
				]
			}) }}
			{% endcall %}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
