
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukRadios({
				idPrefix: "changed-name",
				name: "changed-name",
				fieldset: 
				{
					legend: 
					{
						text: "Is the standard you've chosen flexible?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l"
					}
				},
				hint: 
				{
					text: ""
				},
				items: [
				{
					value: "yes",
					text: "Yes, I'd consider a related standard"
				},
				{
					value: "no",
					text: "No, I'll only consider [standard name]"
				}
				]
			}) }}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
