{% extends "layout.html" %}

{% set serviceName = "Find apprenticeship training for your apprentice" %}

{% block pageTitle %}
Apprenticeship training courses
{% endblock %}

<!-- Display count -->
{% set _displayCount = myData.displaycount %}

<!-- Selected route -->
{% set _selectedRoute = {} %}
{% for _route in myData.routes.list %}
    {% if myData.route == _route.code %}
        {% set _selectedRoute = _route %}
    {% endif %}
{% endfor %}

{% set _filterOrSearchApplied = myData.levelfilterapplied or myData.routefilterapplied or myData.searchapplied %}

<!-- Query strings (for use in hrefs) -->
{% set _searchQuery = "" %}
{% set _routefilterQuery = "" %}
{% set _levelfilterQuery = "" %}
{% set _sortQuery = "" %}
{% if myData.searchapplied == true %}
    {% set _searchQuery = "&q=" + myData.searchTerm %}
{% endif %}
{% if myData.routefilterapplied == true %}
    {% for _item in myData.routefilters %}
        {% set _routefilterQuery = _routefilterQuery + "&routefilters=" + _item %}
    {% endfor %}
{% endif %}
{% if myData.levelfilterapplied == true %}
    {% for _item in myData.levelfilters %}
        {% set _levelfilterQuery = _levelfilterQuery + "&levelfilters=" + _item %}
    {% endfor %}
{% endif %}
{% if myData.sortapplied == true %}
    {% set _sortQuery = "&sort=" + myData.sortby %}
{% endif %}

{% set _fullURL = "training?" + _searchQuery + _routefilterQuery + _levelfilterQuery + _sortQuery %}

{% block beforeContent %}
    {% include "../includes/_banner--experimental.html" %}

    <div class="govuk-grid-row">
		<div class="govuk-grid-column-three-quarters">
			<div class="govuk-breadcrumbs ">
				<ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="home">Home</a>
                    </li>
                </ol>
			</div>
        </div>
        {% include "../includes/_fat-shortlist.html" %}
    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" >
            Apprenticeship training courses
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <!-- FILTERS  -->
        {% if myData.cmpcfk != "false" or myData.cmpcfs != "false" or myData.cmpcfl != "false" %}
        <div class="fat-filter">

            <div class="fat-filter__header">
                <div class="fat-filter__header-title">
                    <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="fat-filter__header-action">
                </div>
            </div>

            <div class="fat-filter__content">

                {% if _filterOrSearchApplied %}
                <div class="fat-filter__selected">
                    <div class="fat-filter__selected-heading">
                        <div class="fat-filter__heading-title">
                            <h2 class="govuk-heading-m">Selected filters</h2>
                        </div>
                        <div class="fat-filter__heading-action">
                            <p><a class="govuk-link govuk-link--no-visited-state" href="training?{{_sortQuery}}">Clear</a></p>
                        </div>
                    </div>
          
                    <!-- For each filter type -->
                    {% for _filter in myData.searchfilters %}
                        {% set _url = "training?" + _sortQuery + _levelfilterQuery + _routefilterQuery %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{_filter.typeText}}</h3>
                        <ul class="fat-filter-tags">
                            {% if _filter.typeof == "array" %}
                                {% for _item in _filter.value %}
                                    {% set _urlBit = "&" + _filter.type + "=" + _item.id %}
                                    {% set _url2 = _fullURL|replace(_urlBit,"") %}
                                    <li><a class="fat-filter__tag" href="{{_url2}}"><span class="govuk-visually-hidden">Clear this filter</span> {{_item.label}}</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a class="fat-filter__tag" href="{{_url}}"><span class="govuk-visually-hidden">Clear this filter</span> {{_filter.value}}</a></li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                    
                </div>
                {% endif %}

                <div class="fat-filter__options">

                    <!-- Search box -->
                    <form action="training" method="GET" >

                        <button type="submit" class="govuk-button fat-filter__submit" id="filters-submit">Apply filters</button>

                        {% if myData.cmpcfk != "false" %}
                        <div class="govuk-form-group" data-list-search-filter >
                            <label for="search-training" class="govuk-label" >
                                <span class="govuk-!-font-weight-bold govuk-!-font-size-24">Keywords</span>
                            </label>
                            <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-training" name="q" title="Search" class="govuk-input search-input" >
                        </div>
                        {% endif %}

                        {% if myData.cmpcfl != "false" %}
                        {% set _levels = data['levels'] %}
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Qualification level
                                </legend>
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    {% for _level in _levels %}
                                        {% set _checked = "" %}
                                        {% for _item in myData.levelfilters %}
                                            {% if _item == _level.value and myData.levelfilterapplied == true %}
                                                {% set _checked = "checked" %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="govuk-checkboxes__item">
                                            <input {{_checked}} class="govuk-checkboxes__input" id="level-{{_level.value}}" name="levelfilters" type="checkbox" value="{{_level.value}}">
                                            <label class="govuk-label govuk-checkboxes__label" for="level-{{_level.value}}">
                                                Level {{_level.value}} - {{_level.equiv3}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3"><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank">What levels mean (opens in new tab or window)</a></p>
                        </div>
                        {% endif %}

                        {% if myData.cmpcfs != "false" %}
                        {% set _routes = data['routes'].list %}
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Apprenticeship category
                                </legend>
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    {% for _route in _routes %}
                                        {% set _checked = "" %}
                                        {% for _item in myData.routefilters %}
                                            {% if _item == _route.code and myData.routefilterapplied == true %}
                                                {% set _checked = "checked" %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="govuk-checkboxes__item">
                                            <input {{_checked}} class="govuk-checkboxes__input" id="route-{{_route.code}}" name="routefilters" type="checkbox" value="{{_route.code}}">
                                            <label class="govuk-label govuk-checkboxes__label" for="route-{{_route.code}}">
                                                {{_route.name}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}


                        <input type="hidden" value="{{myData.level}}" name="level" >

                        <button type="submit" class="govuk-button fat-filter__submit" id="filters-submit-2">Apply filters</button>

                    </form>

                </div>

            </div>

        </div>
        {% endif %}

    </div>
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">{{myData.displaycount}} result{% if myData.displaycount != 1 %}s{% endif %}</h2>

        <!-- Sort -->
        {% if myData.searchapplied == true and _displayCount > 1 %}
        <p class="govuk-body govuk-!-margin-bottom-6">Sort by:
            {% if myData.sortby == "name" %}
            <a class="govuk-link govuk-link--no-visited-state" href="training?{{_levelfilterQuery}}{{_routefilterQuery}}{{_searchQuery}}&sort=relevance">Relevance</a>, 
            <span class="govuk-!-font-weight-bold">Name</span>
            {% else %}
            <span class="govuk-!-font-weight-bold">Relevance</span>, 
            <a class="govuk-link govuk-link--no-visited-state" href="training?{{_levelfilterQuery}}{{_routefilterQuery}}{{_searchQuery}}&sort=name">Name</a>
            {% endif %}
        </p>
        {% elif _displayCount > 1 %}
        <p class="govuk-body govuk-!-margin-bottom-6">Sorted by:
            <span class="govuk-!-font-weight-bold">Name</span>
        </p>
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">
       

        <!-- 
            Standards list OR No results
        -->
        {% if _displayCount > 0 %}

        <div data-list>
            {% set _renderedRows = 0 %}
            {% for _standard in myData.standards.list %}
                {% if _standard.search == true  and _renderedRows < myData.maxrows  %}
                
                    {% set _renderedRows = _renderedRows + 1 %}
                    {% set _standardData = [{"searchOn": _standard.autoCompleteString,"within": true,"exact": true},{"searchOn": _standard.jobRoles,"within": true,"exact": true}] %}

                    {% set _overview = _standard.overviewOfRole|trim %}
                    {% if _overview.slice(-1) != "." %}
                        {% set _overview = _overview + "." %}
                    {% endif %}
                    <div class=" govuk-!-margin-bottom-3" data-list-item data-search-data="{{_standardData|dump}}" >
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            <a href="standard?standard={{_standard.larsCode}}" class="govuk-link govuk-link--no-visited-state">{{_standard.title}} (level&nbsp;{{_standard.level}})</a>
                        </h2>
                        <p class="govuk-body">{{_overview}}</p>
                        <ul class="govuk-list">
                            <li class="govuk-!-font-size-16"><span class="govuk-secondary-colour">Apprenticeship category:</span> {{_standard.route}}</li>
                        </ul>
                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
       
        {% else %}

        <p class="govuk-body govuk-!-margin-top-4">No apprenticeship training courses for the selected filters.</p>

        {% endif %}


    </div>
    
</div>

{% endblock %}


{% block pageScripts %}
<script>

    shortlistingSticky(30)
    shortlisting({{myData.clearLocalStorage}},{{myData.populateShortlist}})

    filterVisibilityToggle({{_filterOrSearchApplied | dump | safe }})
</script>
{% endblock pageScripts %}