
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukInput({
				label:
				{
					text: "What is your email address?",
					classes: "govuk-label--xl",
					isPageHeading: true
				},
				hint:
				{
					text: "Enter email address"
				},
				id: "event-name",
				name: "event-name"
			}) }}

			<p class="govuk-inset-text">
				We'll send a notification when a training provider tells us that they can deliver your training.
			</p>

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
