
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{serviceName}}
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-8">
      Allow employers to register their interest in training with a provider so providers can meet minimum cohort sizes.
    </p>

    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-3">
      Employer sketches
    </h2>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="aed-3-0">Version 3-0</a>
      <span class="govuk-caption-m">5 November 2020</span>
    </h3>
    <p>
      A concept combining the start of the first and end of the second sketch.
    </p>

    <h3 class="govuk-heading-m">
      <a href="aed-2-0">Version 2-0</a>
      <span class="govuk-caption-m">3 November 2020</span>
    </h3>

    <h3 class="govuk-heading-m">
      <a href="aed-1-0">Version 1-0</a>
      <span class="govuk-caption-m">30 October 2020</span>
    </h3>

    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-3">
      Provider sketches
    </h2>
    <h3 class="govuk-heading-m">
      <a href="provider-1-0">Version 1-0</a>
      <span class="govuk-caption-m">3 November 2020</span>
    </h3>
    <p>
      First sketches.
    </p>
  </div>

  {% endblock %}
