
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% call govukFieldset({
				legend:
				{
					text: "Contact details",
					classes: "govuk-fieldset__legend--xl",
					isPageHeading: true
				}
			}) %}

			<p class="govuk-!-margin-bottom-6">
				We'll use these details to share details of any providers interested in delivering your apprenticeship training.
			</p>

			{{ govukInput({
				label:
				{
					text: "Organisation name"
				},
				id: "organisation-name",
				name: "request[organisation-name]",
				autocomplete: "name",
				spellcheck: false
			}) }}

			{{ govukInput({
				label:
				{
					text: "Contact full name"
				},
				hint:
				{
					text: "The full name of the person who should be contacted about this apprenticeship"
				},
				id: "contact-full-name",
				name: "request[contact-full-name]",
				autocomplete: "name",
				spellcheck: false
			}) }}

			{{ govukInput({
				label:
				{
					text: "Email address"
				},
				hint:
				{
					text: "We'll use this to send a notification when a training provider tells us that they can deliver your training"
				},
				id: "email",
				name: "request[email]"
			}) }}

			{% endcall %}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
